<div class="container">
  <div class="row">
    <div class='col-lg-8 offset-lg-2'>
      <h4 class="text-center mb-4 ml-5", style="background-color: #eee; width:200px;"><b>会員情報編集</b></h3>

      <%= form_with model: @customer, url: customers_infomation_path, method: :patch do |f| %>
      <table class='table'>
      <!--%= render "public/shared/error_messages", resource: resource %>-->
        <tbody>
          <tr>
            <td class="field">
              <%= f.label :"氏名" %>
            </td>
            <td>
              <%= f.text_field :last_name, autofocus: true, style: "width:85%", class:"form-control" %>
            </td>
            <td>
              <%= f.text_field :first_name, style: "width:85%", class:"form-control" %>
            </td>
            <td></td>
          </tr>
          <tr>
            <td class="field">
              <%= f.label :"フリガナ" %>
            </td>
            <td>
              <%= f.text_field :last_name_kana, style: "width:85%", class:"form-control" %>
            </td>
            <td>
              <%= f.text_field :first_name_kana, style: "width:85%", class:"form-control" %>
            </td>
            <td></td>
          </tr>
          <tr>
            <td class="field">
              <%= f.label :"郵便番号" %>
            </td>
            <td>
              <%= f.text_field :post_code, style: "width:85%", class:"form-control" %>
            </td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="field">
              <%= f.label :"住所" %>
            </td>
            <td colspan="3">
              <%= f.text_field :address, style: "width:100%", class:"form-control" %>
            </td>
          </tr>
          <tr>
            <td class="field">
              <%= f.label :"電話番号" %>
            </td>
            <td>
              <%= f.text_field :phone_number, style: "width:85%", class:"form-control" %>
            </td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="field">
              <%= f.label :"メールアドレス" %>
            </td>
            <td>
              <%= f.email_field :email, autocomplete: "email", style: "width:85%", class:"form-control" %>
            </td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>

      <!--bootstrapの入れ子構造-->
      <div class="row">
        <div class="offset-3 col-4">
          <%= f.submit "編集内容を保存", class:"btn btn-success btn-block" %>
          <% end %>
        </div>
        <div class="offset-2 col-1">
          <%= form_with model: @customer, url: customers_unsubscribe_path, method: :get do |f| %>
            <%= f.submit "退会する", class:"btn btn-danger" %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>