<div class='container'>
  <div class='row'>
    <div class='col-lg-8 offset-lg-2'>
      <h4 class="text-center mb-5 mx-5", style="background-color: #eee; width:200px; padding-left: 12px;">
        <b>マイページ</b>
      </h4>

      <h4 class="mt-4 mb-4">
        <b class="mr-4">登録情報</b>
        <%= link_to "編集する", customers_infomation_edit_path, class:"btn btn-success w-25" %>
      </h4>
      <div class="row">
      <table class="table mb-4" border="1">
        <tbody>
          <tr>
            <td class="col-4", style="background-color: #e0ffe0;">氏名</td>
            <td class="col-6"><%= @customer.last_name %>　<%= @customer.first_name %></td>
          </tr>
          <tr>
            <td style="background-color: #e0ffe0;">カナ</td>
            <td><%= @customer.last_name_kana %>　<%= @customer.first_name_kana %></td>
          </tr>
          <tr>
            <td style="background-color: #e0ffe0;">郵便番号</td>
            <td><%= @customer.post_code %></td>
          </tr>
          <tr>
            <td style="background-color: #e0ffe0;">住所</td>
            <td><%= @customer.address %></td>
          </tr>
          <tr>
            <td style="background-color: #e0ffe0;">電話番号</td>
            <td><%= @customer.phone_number %></td>
          </tr>
          <tr>
            <td style="background-color: #e0ffe0;">メールアドレス</td>
            <td><%= @customer.email %></td>
          </tr>
        </tbody>
      </table>
      </div>

      <h4 class="mb-4">
        <b class="mr-4">配送先　</b>
        <!--リンクパスの変更必要あり-->
        <%= link_to "一覧を見る", addresses_path, class:"btn btn-primary w-25" %>
      </h4>
      <h4 class="mb-4">
        <b class="mr-4">注文履歴</b>
        <!--リンクパスの変更必要あり-->
        <%= link_to "一覧を見る", orders_path, class:"btn btn-primary w-25" %>
      </h4>
    </div>
  </div>
</div>