<div class='container'>
  <div class='row'>
    <div class='col-md-8 offset-2'>
      <h4 class="text-center my-4 mt-5", style="background-color: #eee; width:200px; padding-left: 12px;"><b>商品一覧</b></h4>
      <table class='table'>
        <thead>
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
          <tr>
            <td><%= item.id %></td>
            <td>
              <%= link_to admin_item_path(item) do %>
               <%= item.name %>
              <% end %>
            </td>
            <td><%= item.price %>円</td>
            <td><%= item.genre.name %></td>
            <td>
              <% if item.is_active == true %>
                <span>販売中</span>
              <% else %>
                <span>販売停止中</span>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to "商品新規登録ページへ", new_admin_item_path %>
    </div>
  </div>
</div>