<div class='container'>
  <div class='col-md-8'>
    <h4 class="text-center my-4 mt-5", style="background-color: #eee; width:200px;"><b>商品新規登録</b></h4>
    <%= form_with model: @item, url: admin_items_path do |f| %>
    <table class='table table-borderless'>
      <tbody>
        <tr>
          <th>商品画像</th>
          <td><%= f.file_field :image, accept:"image/*" %></td>
        </tr>
        <tr>
          <th>商品名</th>
          <td><%= f.text_field :name, class: "form-control" %></td>
        </tr>
        <tr>
          <th>商品説明</th>
          <td><%= f.text_area :introduction, class: "form-control" %></td>
        </tr>
        <tr>
          <th>ジャンル</th>
          <td><%= f.collection_select(:genre_id, @genres, :id, :name, { prompt: "選択してください" }) %></td>
            <!--collection_selectでモデルのレコードをプルダウンの選択肢として使用しています-->
        </tr>
        <tr>
          <th>税抜価格</th>
          <td class='d-flex'><%= f.text_field :price, class: "form-control" %><span class="pt-2">円</span></td>
        </tr>
        <tr>
          <th>販売ステータス</th>
          <td>
            <%= f.radio_button :is_active, "true", checked: true %> 販売中&emsp;
            <%= f.radio_button :is_active, "false" %> 販売停止中
          </td>
          <td><!--空白のセル--></td>
        </tr>
        <tr>
          <th><!--空白のセル--></th>
          <td><%= f.submit "新規登録", class: "mx-auto btn btn-success" %></td>
        </tr>
      </tbody>
    </table>
    <% end %>
  </div>
</div>