<div class='container'>
  <div class='row'>
    <div class='col-md-8 offset-2'>
      <h4 class="text-center my-4 mt-5", style="background-color: #eee; width:200px; padding-left: 12px;"><b>商品詳細</b></h4>
      <div>
        <%= image_tag @item.get_item_image %><br>
        <label>商品名</label>
        <%= @item.name %><br>
        <label>商品説明</label>
        <%= @item.introduction %><br>
        <label>ジャンル</label>
        <%= @item.genre.name %><br>
        <label>税込価格<br>（税抜価格）</label>
        <%= @item.add_tax_price.to_s(:delimited) %>
        (<%= @item.price %>)円<br>
        <label>販売ステータス</label>
        <% if @item.is_active == true %>
          <span>販売中</span><br>
        <% else %>
          <span>販売停止中</span><br>
        <% end %>
      </div>
      <%= link_to "商品編集ページへ", edit_admin_item_path %>
    </div>
  </div>
</div>