<div class="container position-relative">
 <div class="row">

    <div class="col-md-3 ml-2 mt-5">
     <div class="card mr-2">
      <div class="card-header text-center">
       ジャンル検索
      </div>
      <ul class="list-group list-group-flush">
       <% @genres.each do |genre| %>
       <li class="list-group-item text-center"><%= link_to genre.name, admin_genres_path(genre_id: genre.id) %></li>
       <% end %>
      </ul>
     </div>
    </div>

    <div class="col-md-7 ml-5">
     <div class="row mt-5 pb-2">
     <%= image_tag 'hanabi.jpeg', size:"700x400", style: "position:relative;" %>
     <p style="position:absolute; top:190px; left:130px; color:#000; background-color:#FFF; opacity: 0.8;">
      ようこそ、ながのCAKEへ！<br>
      このサイトは、ケーキ販売のECサイトになります。<br>
      会員でない方も商品の閲覧はできますが、<br>
      購入には会員登録が必要になります。
     </p>
     </div>

     <div class="row">
      <h4 class="my-3 pl-2">
       <strong>新着商品</strong>
      </h4>
     </div>

     <div class="row">
      <% @items.first(4).each do |item| %>

      <div class="col-12 col-md-6 col-lg-4">
       <div class="card">
      <!--<div class="d-flex align-items-end">-->
        <%= link_to item_path(item.id) do %>
         <%= image_tag item.image.variant( resize: "150" ) %><br>
        <% end %>
        <%= item.name %><br>
        &yen;<%= item.price %>

      <% end %>
     </div>
     </div>

     <div class="row">
      <%= link_to "全ての商品を見る", items_path %>
     </div>


 </div>
</div>




