<div class="container">
  <h4 class="text-center my-4 mt-5", style="background-color: #eee; width: 600px;">
    <b><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</b>
  </h4>
  <%= form_with model: @customer, url: admin_customer_path, method: :patch do |f| %>
  <table class='table table-borderless'>
    <tbody>
      <tr>
        <th>会員ID</th>
        <td colspan='2'><%= @customer.id %></td>
      </tr>
      <tr>
        <th>氏名</th>
        <td><%= f.text_field :last_name, autofocus: true, class: 'form-control' %></td>
        <td><%= f.text_field :first_name, class: 'form-control' %></td>
      </tr>
      <tr>
        <th>フリガナ</th>
        <td><%= f.text_field :last_name_kana, autofocus: true, class: 'form-control' %></td>
        <td><%= f.text_field :first_name_kana, class: 'form-control' %></td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td><%= f.email_field :email, autocomplete: "email", class: 'form-control' %></td>
      </tr>
      <tr>
        <th>郵便番号</th>
        <td><%= f.text_field :post_code, class: 'form-control' %></td>
      </tr>
      <tr>
        <th>住所</th>
        <td colspan='2'><%= f.text_field :address, class: 'form-control' %></td>
      </tr>
      <tr>
        <th>電話番号</th>
        <td colspan='2'><%= f.text_field :phone_number, class: 'form-control' %></td>
      </tr>
      <tr>
        <th>会員ステータス</th>
        <td><%= f.radio_button :is_deleted, "false", checked: true %> 有効</td>
        <td><%= f.radio_button :is_deleted, "true" %> 退会</td>
      </tr>
      <tr>
        <th><!--空白のセル--></th>
        <td colspan='2'><%= f.submit "変更を保存", class: "btn btn-success" %></td>
      </tr>
    </tbody>
  </table>
  <% end %>
</div>