<div class='container'>
  <div class='row'>
    <h4 class="text-center my-4 mt-5", style="background-color: #eee; width:auto; padding-left: 12px;"><b>会員一覧</b></h4>
    <table class='table table-hover'>
      <thead style="background-color: #f5f5f5;">
        <tr>
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @customer.each do |customer| %>
        <tr>
          <td><%= customer.id %></td>
          <td>
            <%= link_to admin_customer_path(customer.id) do %>
              <%= customer.last_name %>  <%= customer.first_name %>
            <% end %>
          </td>
          <td><%= customer.email %></td>
          <td>
            <% if customer.is_deleted == false %>
              <span class="text-success">有効</span>
            <% else %>
              <span class="text-danger">退会</span>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>