<div class="container">
  <div class="row g-3">
    <div class="col-md-6">
      <h4 class="text-center my-4 mt-5", style="background-color: #eee; width:200px;"><b>注文履歴詳細</b></h4>
      <table class="table text-left table-borderless">
        <tbody>
          <tr>
            <th>購入者</th>
            <td><%= @order.customer.last_name + @order.customer.first_name %></td>
          </tr>
          <tr>
            <th>注文日</th>
            <td><%= @order.updated_at.to_date %></td>
          </tr>
          <th>配送先</th>
          <td>
            〒<%= @order.post_code %> <%= @order.address %><br>
              <%= @order.customer.last_name + @order.customer.first_name %>
          </td>
          <tr>
            <th>支払方法</th>
            <td><%= @order.payment_method_i18n %></td>
          </tr>
          <tr>
            <%= form_with model: @order, url: admin_order_path(@order.id), method: :patch do |f| %>
            <th>注文ステータス</th>
            <td><%= f.select :status, Order.statuses.keys.map{|k| [I18n.t("enums.order.status.#{k}"), k]} %>
            <%= f.submit "更新", class: "btn btn-primary" %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= render partial: 'show' %>
    </div>

  <div class="col-md-3 offset-me-1">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th scope="col", class="table success">商品合計</th>
          <% @order_details.each do |order_detail| %>
           <% @subtotal += order_detail.sub_total %>
          <% end %>
          <td>&yen;<%= @subtotal.to_s(:delimited) %></td>
        </tr>
        <tr>
          <th scope="col", class="table success">送料</th>
          <td>&yen;<%= @order.postage %></td>
        </tr>
        <tr>
          <th scope="col", class="table success">請求金額</th>
          <td>&yen;<%= @order.total_payment.to_s(:delimited) %></td>
        </tr>
      </tbody>
    </table>
  </div>
 </div>
</div>