<div class='container'>
  <div class='col-md-6'>
    <h4 class="text-center my-4 mt-5", style="background-color: #eee; padding-left: 12px;"><b>ジャンル一覧・追加</b></h4>
    <%= form_with model: @new_genre, url: admin_genres_path, method: :post do |f| %>
    <table class='table table-borderless'>
      <tbody>
        <th>ジャンル名</th>
        <td><%= f.text_field :name, class: 'form-control' %></td>
        <td><%= f.submit "新規登録", class: "btn btn-sm btn-success" %></td>
      </tbody>
    </table>
    <% end %>

    <% if flash %>
      <%= flash[:notice] %>
    <% end %>

    <table class="table">
      <thead style="background-color: #f5f5f5;">
        <tr>
          <th colspan='2'>ジャンル</th>
        </tr>
      </thead>
      <tbody>
      <% @genres.each do |genre| %>
        <tr>
          <td><%= genre.name %></td>
          <td><%= link_to "編集する", edit_admin_genre_path(genre.id), class: "btn btn-sm btn-success" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>