<div class="container">
 <div class="row">
  <div class="col-md-8 offset-md-2">
   <h4 class="text-center my-4", style="background-color: #eee; width:200px; padding-left: 12px;"><b>配送先編集</b></h4>

   <%= form_with model: @address, url: address_path(@address), method: :patch do |f| %>
   <div class="col-md-6 mb-2">
    <strong>郵便番号(ハイフンなし)</strong>
     <%= f.text_field :post_code, class: 'form-control' %>
   </div>
   <div class="col-md-12 mb-2">
    <strong>住所</strong>
     <%= f.text_field :address, class: 'form-control' %>
   </div>
   <div class="col-md-6 mb-2">
    <strong>宛名</strong>
     <%= f.text_field :name, class: 'form-control' %>
   </div>
   <div class="d-md-flex justify-content-md-end mb-3">
    <%= f.submit "変更内容を保存", class: "btn btn-primary mt-3" %>
    <% end %>
   </div>
  </div>
 </div>
</div>
