<div class="container text-center">
  <div class="row justify-content-between">
    <div class='col-mb-4'>
      <!--bootstrapの入れ子構造-->
        <div class="col-mb-4">
          <h4 class="text-center mt-4 mb-4", style="background-color: #eee; width:250px;"><b>ショッピングカート</b></h2>
        </div>

        <div class="row">
          <%= link_to '/cart_items', method: :delete do %>
            <button type="button" class="btn btn-danger mt-4 mb-4">カートを空にする</button>
          <% end %>
        </div>
      </div>
    </div>

    <table class='table table-bordered'>
      <thead>
        <tr>
          <th class="table-active">商品名</th>
          <th class="table-active">単価（税込み）</th>
          <th class="table-active">数量</th>
          <th class="table-active">小計</th>
          <th class="table-active"></th>
        </tr>
      </thead>
      <% @cart_items.each do |cart_item| %>
      <tbody>
        <tr>
          <td class="align-middle">
            <%= image_tag cart_item.item.image.variant( resize: "80" ) %>
            <%= cart_item.item.name %>
          </td>
          <td class="align-middle"><%= cart_item.item.add_tax_price.to_s(:delimited) %>円</td>
          <td class="align-middle">
            <%= form_with model: cart_item, method: :patch do |f| %>
            <!--カート内商品を追加するためのフォームです-->
              <%= f.select :amount, *[1..50] %>
              <!--cart_itemモデルにquantityを渡すためのフォームです-->
              <%= f.submit "変更", class: "btn btn-sm btn-success" %>
            <% end %>
          </td>
          <td class="align-middle"><%= cart_item.sum_of_price.to_s(:delimited) %>円</td>
          <td class="align-middle">
            <%= link_to cart_item_path(cart_item.id), method: :delete do %>
              <!--<button type="button" class="btn btn-danger">削除する</button>-->
              <i class="fa-solid fa-trash-can fa-2x", style="color:#c0c0c0;"></i>
            <% end %>
          </td>
        </tr>
      </tbody>
      <% end %>
    </table>

    <div class="row ml-4">
      <div class="col mt-3">
        <%= link_to root_path do %>
          <button type="button" class="btn btn-primary px-4">買い物を続ける</button>
        <% end %>
      </div>
      </div>
      
      
      <div class="col-3">
        <table class='table table-bordered'>
          <tbody>
            <tr>
              <% @total = @cart_items.inject(0) { |sum, item| sum + item.sum_of_price } %>
              <th class="table table-active align-middle">合計金額</th>
              <td colspan="2"><%= @total.to_s(:delimited) %> 円</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row align-item-end">
      <div class="col">
      <% if @total > 0 %>
        <%= link_to new_order_path do %>
        <button type="button" class="btn btn-success px-4">情報入力に進む</button>
        <% end %>
      <% else %>
        <span>商品を追加してください</span>
      <% end %>
    </div>
  </div>
</div>