<div class="h2 pb-2 mb-4 mt-3 pl-4 text-success border-bottom border-success">
  注文履歴一覧
</div>

<div class="col-md-10 offset-md-1">
  <div class="row g-3">
   <table class="table table-bordered">
    <thead>
      <tr class="table-success0", style="background-color: #e0ffe0;">
        <th>注文日</th>
        <th>配送先</th>
        <th>注文商品</th>
        <th>支払い金額</th>
        <th>ステータス</th>
        <th>注文詳細</th>
      </tr>
    </thead>
  <% @orders.each do |order| %>
    <tbody>
      <tr>
        <td class="align-middle"><%= order.created_at.to_date %></td>
        <td class="align-middle">
        〒<%= order.post_code %><br>
        <%= order.address %><br>
        <%= order.name %>
        </td>
        <td class="align-middle">
         <table class="table-sm table-borderless">
         <% order.order_details.each do |order_detail| %>
          <tbody>
            <tr>
             <td><%= order_detail.item.name %></td>
            </tr>
          </tbody>
          <% end %>
         </table>
         </td>
         <td class="align-middle">&yen;<%= order.total_payment.to_s(:delimited) %></td>
         <td class="align-middle"><%= order.status_i18n %></td>
         <td class="align-middle text-center"><%= link_to "表示する", order_path(order), class: "btn btn-primary" %></td>
      </tr>
     </tbody>
    <% end %>
   </table>
  </div>
 </div>
