<div class='container'>
  <div class='row'>
    <div class='col-md-8 offset-2'>
      <h4 class="text-center my-4 mt-5", style="background-color: #eee; width:200px; padding-left: 12px;"><b>ログイン</b></h4>
      <h5 class="text-center", style="background-color: #eee; width:350px">会員の方はこちらからログイン</h5>

      <%= form_with model: @customer, url: customer_session_path do |f| %>
      <table class='table'>
        <tbody>
          <tr>
            <td class="field", height="50px">
              <%= f.label :"メールアドレス" %>
            </td>
            <td>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", :size => "40", class:"form-control" %>
            </td>
          </tr>

          <tr>
            <td class="field", height="50px">
              <%= f.label :"パスワード" %>
            </td>
            <td>
              <%= f.password_field :password, autocomplete: "current-password", :size => "40", class:"form-control" %>
            </td>
          </tr>

            <!--<% if devise_mapping.rememberable? %>-->
            <!--  <div class="field">-->
            <!--    <%= f.check_box :remember_me %>-->
            <!--    <%= f.label :remember_me %>-->
            <!--  </div>-->
            <!--<% end %>-->

          <tr>
            <td></td>
            <td class="actions">
              <%= f.submit "ログイン", class:"btn btn-primary  btn-block w-25" %>
            </td>
          </tr>
        </tbody>
      </table>
      <% end %>

      <h5 class="text-center", style="background-color: #eee; width:300px; margin:50px 20px 30px;">会員登録がお済みでない方</h5>
      <dev class="ml-5">
        <%= render "public/shared/links" %>　から新規登録を行ってください。
      </div>
    </div>
  </div>
</div>