<div class='container'>
  <div class='row'>
    <div class='col-md-8 offset-2'>
      <h2 class="text-center my-4 mt-5", style="background-color: #eee; width:200px; padding-left: 12px;">
        <b>商品一覧</b>
      </h2>
      <p>全<%= @items.count %>件</p>
      <% @items.each do |item| %>
      <div class='d-flex flex-wrap'>
        <%= link_to item_path(item) do %>
          <%= image_tag item.get_item_image, size: '80×80' %><br>
          <p><%= item.name %></p>
          <p><%= item.add_tax_price %>円（税込）</p>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>
