 <div class="container position-relative">
    <div class="row">
     <div class="col-md-3  mt-5">
      <div class="card " style="width: 15rem;">
       <div class="card-header text-center">
        ジャンル検索
       </div>
       <ul class="list-group list-group-flush">
        <% @genres.each do |genre| %>
        <li class="list-group-item text-center"><%= link_to genre.name, admin_genres_path(genre_id: genre.id) %></li>
        <% end %>
       </ul>
      </div>
     </div>
    </div>
   </div>
   
<div class='container'>
  <div class='row'>
    <div class='col-md-8 offset-2'>
      <h2 class="text-center my-4 mt-5", style="background-color: #eee; width:200px; padding-left: 12px;"><b>商品一覧</b></h2>
      全<%= @items.count %>件
      <div class="new-arrival">
        <div class="new-arrival-contents" style="display:flex; flex-wrap:wrap;">
      <% @items.each do |item| %>
        <%= link_to item_path(item) do %>
        <div class="mr-3 mt-3">
          <%= image_tag item.get_item_image.variant( resize: "200" ) %><br>
        <% end %>
          <p class="mt-3 mb-1"><%= item.name %></p>
          <p class="mb-5"><%= item.add_tax_price %>円（税込)</p>
      </div>
      <% end %>
      <%= paginate @items %>
    </div>
  </div>
</div>
