<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/7af3bdf8d7.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= render "layouts/admin_header" %>
    <%= render "public/searches/form" %>
    <%= yield %>
    <div class="mb-5"></div>
    <footer class="fixed-bottom" style="background-color: #ffffcc; bottom: 0; width:100%; margin-top: auto;">
      <div class="container">
        <div class="row">
          <div class="mx-auto">
            <p class="my-2">NaganoCake</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
