<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/7af3bdf8d7.js" crossorigin="anonymous"></script>
  </head>

  <body>


      <!--検索窓-->
      <div class="search-form text-right", style="background-color: #ffffcc;">
        <%= form_with url: items_path, method: :get, local: true do |f| %>
          <%= f.text_field :item, value: @item %>
          <button type="button" class="btn btn-primary">検索</button>
        <% end %>
      </div>

      <%= yield %>

  </body>
</html>
